@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/ProximaNova-Semibold.otf") format("opentype");
  font-weight: bold;
}

* {
  font-family: "Proxima Nova";
}

.nav > li > a {
  font-size: 15px;
  color: #fff !important;
}

.nav > li:hover > a {
  color: #ccc !important;
}

.navbar-default {
  background-color: #000 !important;
  border-color: #000 !important;
}

.navbar-brand {
  padding-top: 0px !important;
}

.navbar-brand > img {
  height: 50px !important;
}

.phone-number {
  font-size: 25px;
  color: #fff;
  padding: 7px;
}

.call-button {
  background-color: #C89674;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 15px !important;
  margin-top: 4px;
}

.call-button > div > div {
  white-space: nowrap;
  text-align: center;
  font-size: 13px !important;
}

.call-button > div:nth-child(2) > div {
  border-bottom: 1px solid #fff;
  margin-bottom: 0px;
  margin-top: -2px;
  padding-bottom: 0px;
}
