@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
}

* {
  font-family: "Proxima Nova";
}

ul {
  list-style: none;
}

.nav > li > a {
  font-size: 15px;
  color: #fff !important;
}

.nav > li:hover > a {
  color: #ccc !important;
}

.navbar-default {
  background-color: #000 !important;
  border-color: #000 !important;
}

.navbar-brand {
  padding-top: 0px !important;
}

.navbar-brand > img {
  height: 50px !important;
}

.phone-number {
  font-size: 25px;
  color: #fff;
  padding: 7px;
}

.call-button {
  background-color: #C89674;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 15px !important;
  margin-top: 4px;
  cursor: pointer;
}

.call-button:hover {
  background-color: #A77751 !important;
}

.call-button:hover div {
  color: #fff;
}

.call-button > div > div {
  white-space: nowrap;
  text-align: center;
  font-size: 13px !important;
}

.call-button > div:nth-child(1) > div {
  font-weight: 200;
}

.call-button > div:nth-child(2) > div {
  border-bottom: 1px solid #fff;
  margin-bottom: 0px;
  margin-top: -2px;
  padding-bottom: 0px;
}

.call-button > div:nth-child(3) > div {
  font-size: 14px !important;
}

.banner {
  height: 60%;
  max-height: 325px;
  background-image: url("../img/banner.jpeg");
  background-size: cover;
  background-position: 0 25%;
}

.overlay {
  position: absolute;
  color: #fff;
  bottom: 15%;
  font-size: 20px;
  font-weight: 200;
  text-align: center !important;
  margin-left: -15px;
  background-color: rgba(0, 0, 0, 0.25);
}

.overlay > span {
  padding-top: 4%;
  padding-bottom: 2%;
}

.progress-tracker {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}

.step-number {
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  height: 40px;
  width: 40px;
  padding-top: 2px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.step-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 200;
}

.progress-tracker li:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ccc;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index: -1;
}

.progress-tracker li:first-child:after {
  content: none;
}

.progress-tracker li.current-step {
  color: #333;
}

.progress-tracker li.current-step .step-number {
  border: 2px solid #333;
}

.form-heading {
  text-align: center;
  font-weight: 200;
}

.form-instructions {
  text-align: center;
  font-weight: 200;
}

.field-label {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.field-description {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  width: 100%;
}

form input {
  height: 40px;
}
