@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Semibold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../vendor/Proxima Nova/ProximaNova-Light.otf") format("opentype");
  font-weight: 200;
}

* {
  font-family: "Proxima Nova";
}

.nav > li > a {
  font-size: 15px;
  color: #fff !important;
}

.nav > li:hover > a {
  color: #ccc !important;
}

.navbar-default {
  background-color: #000 !important;
  border-color: #000 !important;
}

.navbar-brand {
  padding-top: 0px !important;
}

.navbar-brand > img {
  height: 50px !important;
}

.phone-number {
  font-size: 25px;
  color: #fff;
  padding: 7px;
}

.call-button {
  background-color: #C89674;
  border: 1px solid #ccc;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px 15px !important;
  margin-top: 4px;
  cursor: pointer;
}

.call-button:hover {
  background-color: #A77751 !important;
}

.call-button:hover div {
  color: #fff;
}

.call-button > div > div {
  white-space: nowrap;
  text-align: center;
  font-size: 13px !important;
}

.call-button > div:nth-child(1) > div {
  font-weight: 200;
}

.call-button > div:nth-child(2) > div {
  border-bottom: 1px solid #fff;
  margin-bottom: 0px;
  margin-top: -2px;
  padding-bottom: 0px;
}

.call-button > div:nth-child(3) > div {
  font-size: 14px !important;
}

.banner {
  height: 375px;
  background-image: url("../img/banner.jpeg");
  background-size: cover;
  background-position: 0 15%;
}

.overlay {
  position: absolute;
  color: #fff;
  bottom: 15%;
  font-size: 20px;
  font-weight: 200;
  text-align: center !important;
  margin-left: -15px;
  background-color: rgba(0, 0, 0, 0.25);
}

.overlay > span {
  padding-top: 4%;
  padding-bottom: 2%;
}
